*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  font-family: 
    "Apple Garamond",
    system-ui,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Open Sans',
    sans-serif;

  letter-spacing: 0.06rem;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

@font-face {
    font-family: "Apple Garamond";
    src: url("font/AppleGaramond.woff2") format("woff2"),
        url("font/AppleGaramond.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Apple Garamond";
    src: url("font/AppleGaramond-Bold.woff2") format("woff2"),
        url("font/AppleGaramond-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
  --sidebar-width: clamp(260px, 22vw, 300px);

  --color-primary: #b40087;
  --color-primary-hover: #bb1892;
  --color-white-text: #f7f7f7;
  --color-silver-text: #676767;
  --color-main-section: #dcd5da;

  --shadow-card: 4px 4px 5px #1d1d1d30;

  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
}

.page {
  min-height: 100vh;
}

.sidebar {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 2.5rem;

  position: fixed;
  inset: 0 auto 0 0;

  width: var(--sidebar-width);
  height: 100vh;
  padding: var(--spacing-sm);

  color: var(--color-white-text);
  background-color: var(--color-primary);

  z-index: 3;
}

.sidebar h1 {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--spacing-sm);

  font-size: var(--spacing-lg);
  font-weight: bold;
}

.sidebar a {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--spacing-md);

  padding: 0 1.2rem;
  color: var(--color-white-text);
  font-size: var(--spacing-md);
  font-weight: bold;

  line-height: 2;
  text-decoration: none;
  border-radius: 0.3rem;

  transition:
    transform 0.3s ease-out,
    background-color 1s ease-out,
    text-shadow 0.3s ease-out;
}

.sidebar a > img {
  width: var(--spacing-md);
  filter: invert();
}

.sidebar h1 img {
  filter: invert();
}

.sidebar a:hover {
  background-color: #ffffff18;
  border-radius: 0.3rem;
  text-shadow: var(--shadow-card);

  transform: scale(1.03);
  transition:
    transform 0.1s ease-in,
    background-color 0.1s ease-in,
    text-shadow 0.1s ease-in;
}

.page-header,
.main-content {
  margin-left: var(--sidebar-width);
}

.page-header {
  display: grid;
  grid-template: auto auto / 2fr 1fr;
  gap: var(--spacing-lg);

  background-color: var(--color-white-text);
  box-shadow: 0 4px 5px #1d1d1d30;
  padding: 1.2rem 3rem 1.5rem 3rem;
  font-weight: bold;

  position: relative;
  z-index: 1;
}

.page-header img,
.main-card-grid img {
  width: var(--spacing-md);
  cursor: pointer;
}

.search-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--spacing-sm);
}

.search-container input {
  width: 100%;
  height: var(--spacing-lg);

  border-radius: var(--spacing-lg);
  border: none;
  padding: 0 1rem;
  background-color: var(--color-main-section);
}

.search-container input:focus {
  outline: 1px solid var(--color-primary);
}

.profile-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  place-items: center;
  gap: var(--spacing-lg);

  padding-right: var(--spacing-sm);
  font-size: 1.3rem;
}

.profile-container img:nth-of-type(2),
.trending-user img {
  width: 3rem;
  border-radius: 50%;
}

.greeting-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--spacing-sm);
}

.greeting-container h2 {
  font-size: 1.8rem;
}

.greeting-container img {
  width: 5rem;
  border-radius: 50%;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center end;
  gap: var(--spacing-lg);
}

.btn-container button {
  border: none;
  border-radius: 3rem;

  width: 6.5rem;
  height: 2.5rem;

  cursor: pointer;
  color: var(--color-white-text);
  background-color: var(--color-primary);
  font-size: 1.2rem;

  transition:
    transform 0.3s ease-out,
    background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
}

.btn-container button:hover {
  background-color: var(--color-primary-hover);
  box-shadow: var(--shadow-card);

  transform: scale(1.03);
  transition:
    transform 0.1s ease-in,
    background-color 0.1s ease-in,
    box-shadow 0.1s ease-in;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1.1fr;
  gap: var(--spacing-lg);

  padding: 1rem 1.5rem 3rem 1.5rem;

  background-color: var(--color-main-section);
}

.main-content .card {
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-card);

  background-color: var(--color-white-text);

  transition:
    transform 0.4s ease-out,
    box-shadow 0.4s ease-out;
}

.main-content .card:hover {
  box-shadow: 8px 8px 10px #1d1d1d30;

  transform: scale(1.02);
  transition:
    transform 0.2s ease-in,
    box-shadow 0.2s ease-in;
}

.main-content h2 {
  font-size: 1.4rem;
}

.main-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--spacing-md);

  margin-top: 0.5rem;  
}

.main-card-grid .card {
  display: grid;
  grid-template-rows: auto 1fr auto;

  border-left: 6px solid var(--color-silver-text);
}

.main-card-grid .icons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  gap: var(--spacing-md);

  padding: 1rem 1rem 0 0;
}

.icons img {
  transition: transform 0.1s ease-out;
}

.icons img:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in;
}

.main-card-grid h3 {
  font-size: 1.2rem;
}

.secondary-content {
  display: grid;
  grid-template-rows: auto auto;
  gap: var(--spacing-lg);
}

.announcements,
.trending {
  display: grid;
  grid-template-rows: auto 1fr;
}

.announcements p,
.trending-user p:nth-of-type(2) {
  font-size: 0.8rem;
  color: var(--color-silver-text);
}

.announcements .card {
  padding: 1rem 2rem;
}

.announcements .card,
.trending .card {
  margin-top: 0.5rem;
}

.announcement {
  padding: 1rem 0;
}

.announcement:not(:last-child) {
  border-bottom: solid 1px var(--color-silver-text);
}

.announcement h3 {
  font-size: var(--spacing-sm);
}

.trending .card {
  padding: var(--spacing-sm);
}

.trending-user {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacing-sm);

  padding: 0.5rem 0;
}

.trending-user p:nth-of-type(1) {
  font-size: var(--spacing-sm);
  font-weight: bold;
}

.trending-user p:nth-of-type(2) {
  font-size: 0.8rem;
}

.sidebar a:focus-visible,
button:focus-visible {
  outline: 2px solid black;
  outline-offset: 1px;
}
